@font-face { font-family: BebasNeue; src: url('BebasNeue.ttf'); } 

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

head {

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

}

body {
    
    overflow-x: hidden;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    background: url("../img/background.png") 0% 0% / cover no-repeat;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    letter-spacing: 0.6px;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}

img {
    width: 100%; 
    height: 100%;
}

header {
    width: 80%;
    position: fixed;
    top: 20px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

header .logo img {
    width: 0px;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 0px;
}

.social-list li {
    margin-right: 15px;
}

.social-list li:last-child {
    margin-right: 0px;
}

.social-list li:first-child a img {
    width: 40px;
}

.social-list li a {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 22px;
    padding: 10px;
    transition: all 0.4s ease 0s;
    color: #fff;
}

.social-list li a img,
.social-list li a svg {
    width: 30px;
    height: max-content;
}

.main-screen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    overflow: hidden;
}

.main-area {
    width: 444px;
}

.main-area__left {
    flex-basis: 100%;
}

.main-area__right {
    border: 5px solid #ffffff;
    max-width: 550px;
    background-color: #0f0f0f;
    padding: 40px 30px;
    backdrop-filter: blur(10px);
    border-radius: 6px;
}

.price {
    background: rgb(21, 26, 31);
    padding: 24px 24px 10px;
    border-radius: 8px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.price-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 20px;
}

.price-list li {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
}

.price-list li .text {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}

.price-list li .number {

    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.token-number {
    display: flex;
    align-items: left;
}

.left-title {
    font-size: 64px;
    font-weight: 900;
    margin: 0px;
}

.left-pre__title {
    font-weight: 900;
    font-size: 19px;
    margin-top: -5px;
    margin-bottom: 30px;
}

.slider-area {
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-area img {
    position: relative;
    width: 35%;
    height: auto;
    object-fit: contain;
    border-radius: 7px;
    margin-bottom: 35px;
}
.MuiChip-root {
    color: #fff;
    border: none;
    cursor: default;
    height: 32px;
    display: inline-flex;
    outline: 0;
    padding: 0;
    font-size: 0.8125rem;
    box-sizing: border-box;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    white-space: nowrap;
    border-radius: 16px;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: #616161;
}
.MuiChip-label {
    overflow: hidden;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
    text-overflow: ellipsis;
}

.token {
    width: 60%;
    margin-top: 25px;
    color: #fff
}

.token-title {
    margin-top: 24px;
    margin-bottom: 8px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
}

.token-line {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.token-line .line {
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

.token-line .progress-line {
    position: absolute;
    inset: 0px;
    background: #fff;
    height: 5px;
    border-radius: 0px;
}

.token-number {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.counter {
    width: 100px;
    font: 800 40px system-ui;
    overflow: hidden;
  }
  .numbers {
    width: auto;
    display: flex;
    animation: countNumber 4s infinite alternate;
    animation-timing-function: steps(10);
  }
  .numbers div {
    text-align: center;
    flex: 0 0 100px;
  }
  
  @keyframes countNumber {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: -1000px;
    }
  }


.pre-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pre-total #price-total {
    font-size: 18px;
    font-weight: 900;
}

.add-input-remove {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-input-remove a img {
    width: 22px;
    height: auto;
    object-fit: contain;
}

.minus-btn,
.plus-btn {
    background: rgba(151, 151, 151, 0.25);
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
}

.minus-btn {
    margin-right: 10px;
    padding: 10px 22px;
}

.plus-btn {
    margin-left: 10px;
}

.add-input-remove input {
    width: 100px;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background: rgba(151, 151, 151, 0.25);
    border-radius: 6px;
    
    padding: 14px 0px;
}

.add-input-remove input:hover,
.add-input-remove input:focus {
    border: none;
    outline: none;
}

.price-box {
    font-size: 10px;
    color: #fff;
    line-height: 170%;
}

.right-title {
    position: relative;
    font-size: 36px;
    color: #fff;
    font-weight: 900;
    margin: 0px 0px 20px;
    padding: 0 20px;
}

.right-title img {
    width: 200px;
}

.right-list {
    text-align: left;
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.right-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.right-list li .number {
    font-size: 14px;
    margin-right: 29px;
}

.right-list li .text {
    text-align: center;
    padding: 0 80px;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    font-weight: 500;
}

.pre-total {
    display: flex;
    justify-content: center;
    padding: 20px 28px;
    margin-bottom: 16px;
    align-items: center;
}

.monkey {
    margin-top: 50px;
}

.join-btn span {
    position: relative;
    z-index: 10;
}
.cl-root {
    display: flex;
    justify-content: center;
    align-items: center;
}
#root button {
    position: relative;
    display: flex;
    text-transform: uppercase;
    width: 348px;
    justify-content: center!important;
    align-items: center;
    background: linear-gradient( rgb(96, 74, 229) 0%, rgb(129, 62, 238) 100%)!important;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    padding: 20px 35px;
    height: 60px;
    cursor: pointer;
    transition-duration: .3s;
    letter-spacing: .5px;
}

.MuiTypography-caption {
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.02857em;
    
}

.MuiTypography-alignCenter {
    text-align: center;
    
}

.MuiTypography-displayBlock {
    display: block;
    
}

.jss3 {
    color: white;
    margin: 8px;
    display: flex;
    padding: 8px;
    font-size: 18px;
    background: #384457;
    height: 3rem;
    width: 165px;
    align-items: center;
    font-weight: bold;
    margin-right: 0;
    align-content: center;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
}

#root button:hover {
    background: #fff !important;
    color: #000;
    backdrop-filter: blur(10px);
    transform: scale(1.1);
    transition: 0.5s;
}


.wallet-address {
    color: #000;
    text-shadow: rgb(0, 162, 209) 0px 4px 3px;
    text-align: center;
    display: none;
}

#remaining {
    display: none;
}
.bottom-box-mobile{
    display: flex!important;
    justify-content: center!important;
    margin-top: 40px!important;
}
@media only screen and (max-width: 1400px) {
    .text{
        font-size: 12px!important;
    }
    .right-title{
        font-size: 32px!important;
    }
    .main-area__right{
        padding: 20px 0px!important;
    }
    .right-list li .text{
        padding: 0 20px!important;
    }
    .bottom-box-mobile{
        width: 200px!important;
    }
    #root button {
        padding: 0px 25px;
    }
    .main-screen{
        width: 95%;
    }

    .minus-btn,
.plus-btn {

    padding: 10px 15px;

}
.add-input-remove input{
    width: 70px;
}
.price-box{
    margin-bottom: 25px!important;
}
}
.wallet{
    display: none!important;
}

    .token{
    width: 60%;
    margin-top: 50px;
    color: #fff;
    }

    .wallet-adapter-button .wallet-adapter-button-start-icon {
        margin-right: 5px;
    }
    
    .wallet-adapter-button-start-icon {
        margin-right: 12px;
    }
    .wallet-adapter-button-end-icon, .wallet-adapter-button-end-icon img, .wallet-adapter-button-start-icon, .wallet-adapter-button-start-icon img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
    }
